<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>List of collaborators</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <style>
    #comments
    {
      width: 100%;
      padding:2%;
    }
    #req_tbl
    {
      width: 100%;
    }
    #req_tbl th:first-child, #req_tbl td:first-child
    {
      width:40%;
    }
    #req_tbl th, #req_tbl td
    {
      padding: 2%;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <%- include('nav') %>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>List of collaborators</h1>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <div class="form-group" style="text-align: center">
          <input type="text" id="search" placeholder="Enter the member you are looking for" />
        </div>

        <!-- Main content -->
        <section class="content">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List of collaborators</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0" style="overflow-y: hidden">
              <table class="table table-striped projects" id="table1">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Account</th>
                    <th class="text-center">UPI Address</th>
                    <th class="text-center">UPI Wallet</th>
                    <th class="text-center">Balance</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- #region -->
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example" style="margin-top: 20px; display: flex; justify-content: center">
              <ul class="pagination table1">
                <li class="page-item previous">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <div id="numbers" style="display: flex"></div>
                <li class="page-item next">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </section>

        <div class="modal fade" id="myModal_req" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">View Request</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="req_phone" name="req_phone" value="3487">
                <table border="1" id="req_tbl" >
                  <tr>
                      <th>Request Name</th>
                      <th>Change For</th>
                  </tr>
                  <tr>
                      <td>Rate</td>
                      <td><span id="rate_txt"></span></td>
                  </tr>
                  <tr>
                    <td>Wallet Owner Name</td>
                    <td><span id="name_txt"></span></td>
                  </tr>
                  <tr>
                    <td>UPI Id</td>
                      <td><span id="upi_id_txt"></span></td>
                  </tr>
                  <tr>
                    <td>UPI Wallet</td>
                      <td><span id="wallet_txt"></span></td>
                  </tr>
                  <tr>
                    <td>Qr Code Image</td>
                    <td><img src="" id="qr_code_txt" width="175px"></td>
                  </tr>
              </table>
              <div style="padding: 5%;" id="commentsDiv">
                <label for="comments">Your Comments:</label><br>
                <textarea id="comments" name="comments" rows="5" cols="40"></textarea>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info" id="btn_accept_click">Accept</button>
                <button type="button" class="btn btn-danger" id="btn_reject_click">Reject</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://sdk.minepi.com/pi-sdk.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.15.10/sweetalert2.min.js"></script>
  <script src="/js/admin/admin.js"></script>
  <script>

    const Pi = window.Pi;
Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
async function auth() {
  try {
      
      const scopes = ['username', 'payments', 'wallet_address'];
      function onIncompletePaymentFound(payment) {
          console.log("incomplete Transaction");
      }; 

      Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
          var username = auth.user.username;
          var password = auth.user.uid;
          var auth_token = auth.accessToken;
          $('.admin_name').text(username);
            $(document).on("click", '.btn_danger', function(e){
            e.preventDefault();
            let check = confirm("Are you sure you want to lock this account ?");
            let id = $(this).attr('id');
            if (check) {
              $.ajax({
                type: "POST",
                url: "/api/webapi/admin/banned",
                data: {
                  id: id,
                  type: 'close',
                  authtoken:auth_token,
                },
                dataType: "json",
                success: function (response) {
                  alert(response.message);
                  location.reload();
                }
              });
            }
          });
            $(document).on("click", '.btn-info1', function(e){
            e.preventDefault();
            let check = confirm("Are you sure you want to unlock this account ?");
            let id = $(this).attr('id');
            if (check) {
              $.ajax({
                type: "POST",
                url: "/api/webapi/admin/banned",
                data: {
                  id: id,
                  type: 'open',
                  authtoken:auth_token,
                },
                dataType: "json",
                success: function (response) {
                  alert(response.message);
                  location.reload();
                }
              });
            }
          });

          $(document).on("click", '.btn-warning', function(e){
            e.preventDefault();
            let check = confirm("Are you sure you want to give payment access to this account ?");
            let id = $(this).attr('id');
            if (check) {
              $.ajax({
                type: "POST",
                url: "/api/webapi/admin/on_off_collo",
                data: {
                  id: id,
                  type: 'on',
                  authtoken:auth_token,
                },
                dataType: "json",
                success: function (response) {
                  alert(response.message);
                  location.reload();
                }
              });
            }
          });
          $(document).on("click", '.btn-disable', function(e){
            e.preventDefault();
            let check = confirm("Are you sure you want to remove payment access to this account ?");
            let id = $(this).attr('id');
            if (check) {
              $.ajax({
                type: "POST",
                url: "/api/webapi/admin/on_off_collo",
                data: {
                  id: id,
                  type: 'off',
                  authtoken:auth_token,
                },
                dataType: "json",
                success: function (response) {
                  alert(response.message);
                  location.reload();
                }
              });
            }
          });
        $('#search').keypress(function(event){
          var keycode = (event.keyCode ? event.keyCode : event.which);
          var value = $('#search').val().trim();
          if(keycode == '13'){
            $.ajax({
              type: "POST",
              url: "/api/webapi/search",
              data: {
                phone: value,
                authtoken:auth_token,
              },
              dataType: "json",
              success: function (response) {
                if (response.status === true) return Render(response.datas);
              }
            });
          }
    
        });

        var pageno = 0;
        var pageto = 30;
        var page = 1;

        $.ajax({
          type: "POST",
          url: "/api/webapi/admin/listctv",
          data: {
            typeid: "1",
            pageno: pageno,
            pageto: pageto,
            language: "vi",
            authtoken:auth_token,
          },
          dataType: "json",
          success: function (response) {
            if (response.status === true) return Render(response.datas);
          },
        
		    });
    
        const Render = (datas) => {
          let html = '';
          datas.map((data) => {
          $.ajax({
            type: "POST",
            url: "/api/webapi/admin/get_collo_pay",
            data: {
              coll_phone: data.phone,
              authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
            html += `
            <tr class="text-center" style="">
              <td>${data.id_user}</td>
              <td>
                <b style="color: #2003db">${data.phone}</b>
              </td>
              <td>
                <b>${response.collo_upi}</b>
              </td>
              <td>
                <b>${response.collo_wallet}</b>
              </td>
              <td>
                <b>${data.money}</b>
              </td>
              <td class="project-state">
                ${(data.status == 1) ? '<span class="badge badge-success">Online</span>' : '<span class="badge badge-warning">Banned</span>'}
              </td>
              <!--<td class="project-state">
                <span class="badge badge-warning">Offline</span>
              </td>
              <td class="project-state">
                <span class="badge badge-success">Online</span>
              </td> -->
              <td class="project-actions text-center" style="min-width: 100px">
                <a class="btn btn-primary btn-sm confirm-btn" href="/admin/manager/ctv/profile/${data.phone}">
                  <i class="fas fa-folder"></i> Profile
                </a>
                ${(data.status == 1) ? `<a class="btn_danger btn btn-info btn-sm btn-danger" id="${data.id}">
                  <i class="fas fa-pencil-alt"></i> lock Up
                </a>` : ''}
                ${(data.status == 2) ? `<a class="btn_info btn btn-info btn-sm btn-info1" id="${data.id}">
                  <i class="fas fa-pencil-alt"></i> Open
                </a>` : ''}
                <!--<a class="btn btn-danger btn-sm delete-btn" href="#">
                  <i class="fas fa-trash"></i> 删除
                </a>-->
    
                 ${(response.datas == 'off') ? `<a class="btn btn-info btn-sm btn-warning" id="${data.phone}" href="#">
                  <i class="fas  fa-credit-card"></i> Enable Payment
                </a>` : ''}
                ${(response.datas == 'on') ? `<a class="btn btn-info btn-sm btn-disable" id="${data.phone}" href="#">
                  <i class="fas  fa-credit-card"></i> Disable Payment
                </a>` : ''}
                ${(parseInt(response.req_count) > 0) ? `<a class="btn_request btn btn-info btn-sm btn-sucess" id="${data.phone}">
                <i class="fas fa-eye  "></i> View Request
                </a>` : ''}
              </td>
            </tr>`;
            $("#table1 tbody").html(html);
          }
        });
          });
        }

        $(document).off('click', '.btn_request').on("click", '.btn_request', function(e){
          e.preventDefault();
          let id = $(this).attr('id');
          $.ajax({
            type: "POST",
            url: "/api/webapi/admin/get_bank_request",
            data: {
              id: id,
              authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
              $("#req_phone").val(response.datas[0].phone);
              $("#rate_txt").text(response.datas[0].name_bank);
              $("#name_txt").text(response.datas[0].name_user);
              $("#upi_id_txt").text(response.datas[0].stk);
              $("#wallet_txt").text(response.datas[0].upi_wallet);
              $("#qr_code_txt").attr("src",response.datas[0].qr_code_image.toString().trim().replace(/\\/g, "/").replace("src/public",document.location.origin));
              //$("#qr_code_txt").attr("src", " http://localhost:3005/assets/png/7-00479cfa.png");
              $("#commentsDiv").css("display", "none");
              $('#myModal_req').modal('show');
            }
          });
        });
    
        $(document).off('click', '#btn_accept_click').on("click", '#btn_accept_click', function(e){
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: "/api/webapi/admin/accept_reject",
            data: {
              id: $("#req_phone").val(),
              type:'accept',
              comments:$("#comments").val().toString().trim(),
              authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
              if(response.status == true)
              {
                $('#myModal_req').modal('hide'); 
                location.reload();
              }
            }
          });
        });
        $(document).off('click', '#btn_reject_click').on("click", '#btn_reject_click', function(e){
          e.preventDefault();
          if($("#comments").val().toString().trim().length != 0)
          {
              $.ajax({
                type: "POST",
                url: "/api/webapi/admin/accept_reject",
                data: {
                  id: $("#req_phone").val(),
                  type:'reject',
                  comments:$("#comments").val().toString().trim(),
                  authtoken:auth_token,
                },
                dataType: "json",
                success: function (response) {
                  if(response.status == true)
                  {
                    $('#myModal_req').modal('hide'); 
                    location.reload();
                  }
                }
              });
          }
          else{
            $("#commentsDiv").css("display", "block");
          }
        });
    
      });
    }
catch (err) {
    alert(err);
}
}
auth();
    $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
 
  </script>

  <script src="/js/admin/tables.js"></script>
</body>

</html>