<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recharge</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/admin.css">
  <style>

    @-webkit-keyframes rotating /* Safari and Chrome */ {
        from {
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes rotating {
        from {
          -ms-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -ms-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      .rotating {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
      }
            
    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }
    .pull-left {
        float: left;
        color:white;
    }
    .title
    {
        background-color: #3362ff;
        color: white;
        padding: 20px;
        margin: 10px;
        width: 100%;
    }
  </style>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
    <%- include('nav') %>
    <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6" style="display:contents;">
                <h1 class="m-0" style="margin-top: 14px !important;">Dashboard</h1>

                <div data-v-a9660e98="" class="van-image img m-l-10 dashboard_reload" style="width: 15px;height: 15px;padding: 10px;color: white;height: 40px;width: 40px;margin-left: 12px;top: 14px;margin-top: 10px;">
                  <img src="/images/king.png" class="van-image__img" style="height: 30px;width: 30px;"/>
              </div>
              </div>
            </div>
          </div>
        </div>

        
        <section class="content">
          <div class="container-fluid">
            <div class="row info-box">
              <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today User Join</span>
                        <span class="info-box-number totalMember" id="usersJoin">0</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
             </div>

                <div class="col-md-3 col-sm-6 col-12">
                  <div class="info-box">
                      <span class="info-box-icon bg-warning"><i class="fa fa-check" aria-hidden="true"></i></span>
                      <div class="info-box-content">
                          <span class="info-box-text">Today's Recharge</span>
                          <span class="info-box-number totalMember" id="TodaysRecharge">0</span>
                      </div>
                      <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
               </div>

              <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="fa fa-university" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today's Withdrawal</span>
                        <span class="info-box-number totalMember" id="TodaysWithdrawal">0</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
             </div>

             
             <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                  <span class="info-box-icon bg-danger"><i class="fa fa-scale-balanced" aria-hidden="true"></i></span>
                  <div class="info-box-content">
                      <span class="info-box-text">User Balance</span>
                      <span class="info-box-number totalMember" id="UserBalance">0</span>
                      
                  </div>
                  <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
           </div>

           
           <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fa fa-users" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Users</span>
                    <span class="info-box-number totalMember" id="TotalUsers">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
         </div>

          
         <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="fa fa-bolt" aria-hidden="true"></i></span>
              <div class="info-box-content">
                  <span class="info-box-text">Pending Recharge</span>
                  <span class="info-box-number totalMember" id="PendingRecharge">0</span>
              </div>
              <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
       </div>

       <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fa fa-bolt" aria-hidden="true"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Success Recharge </span>
                <span class="info-box-number totalMember" id="SuccessRecharge">0</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
     </div>

     <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
          <span class="info-box-icon bg-warning"><i class="fa fa-file-invoice-dollar" aria-hidden="true"></i></span>
          <div class="info-box-content">
              <span class="info-box-text">No. Total Recharge(Month) </span>
              <span class="info-box-number totalMember" id="TotalRecharge_No">0</span>
          </div>
          <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
   </div>

   <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
        <span class="info-box-icon bg-warning"><i class="fa fa-money-check-alt" aria-hidden="true"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Total Recharge(Month) </span>
            <span class="info-box-number totalMember" id="TotalRechargeMonth">0</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
 </div>

 <div class="col-md-3 col-sm-6 col-12">
  <div class="info-box">
      <span class="info-box-icon bg-success"><i class="fa fa-file-invoice-dollar" aria-hidden="true"></i></span>
      <div class="info-box-content">
          <span class="info-box-text">No. Total Withdrawal </span>
          <span class="info-box-number totalMember" id="TotalWithdrawal">0</span>
      </div>
      <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
                

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-danger"><i class="fa fa-money-bill-transfer" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">No. Withdrawal Requests </span>
        <span class="info-box-number totalMember" id="WithdrawalRequests">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-info"><i class="fa fa-receipt" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">No. Total Withdrawal(Month) </span>
        <span class="info-box-number totalMember" id="TotalWithdrawal_No">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-danger"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Total Withdrawal(Month)</span>
        <span class="info-box-number totalMember" id="TotalWithdrawal_AMT">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-info"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Today's total bet</span>
        <span class="info-box-number totalMember" id="TodaysTotalBets">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-warning"><i class="fa fa-trophy" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Today's total win</span>
        <span class="info-box-number totalMember" id="TodaysTotalWin">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-success"><i class="fa fa-gem aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Yesterday's profit</span>
        <span class="info-box-number totalMember" id="TodaysProfit">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-success"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Yesterday's Networth</span>
        <span class="info-box-number totalMember" id="TodaysProfit_EXP">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>


<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-warning"><i class="fa fa-wallet" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Monthly Colaborator Salary Disburse</span>
        <span class="info-box-number totalMember" id="month_colloborator">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-info"><i class="fa fa-dollar-sign" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Total Turnover (Month)</span>
        <span class="info-box-number totalMember" id="month_turnover">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-danger"><i class="fa fa-gift" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Total Gift Code Redeem (Month)</span>
        <span class="info-box-number totalMember" id="month_gift_redeem">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-info"><i class="fa fa-heart" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Total Recharge Bonus (Month)</span>
        <span class="info-box-number totalMember" id="month_recharge_bonus">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-danger"><i class="fa fa-chart-simple" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Current Month Stakes</span>
        <span class="info-box-number totalMember" id="month_staking_amt">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-success"><i class="fa fa-money-bill-wave" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Current Month Stake Rewards</span>
        <span class="info-box-number totalMember" id="month_staking_rewards">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-warning"><i class="fa fa-chart-line" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Active Stakes</span>
        <span class="info-box-number totalMember" id="active_stakes">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>
         

<div class="col-md-3 col-sm-6 col-12">
<div class="info-box">
    <span class="info-box-icon bg-danger"><i class="fa fa-percent" aria-hidden="true"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">ROI OF Stake (inc amt%)</span>
        <span class="info-box-number totalMember" id="roi_active_stakes">0</span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
  <div class="info-box">
      <span class="info-box-icon bg-info"><i class="fa fa-level-up-alt" aria-hidden="true"></i></span>
      <div class="info-box-content">
          <span class="info-box-text">VIP Level Up Bonus</span>
          <span class="info-box-number totalMember" id="vipLevelBonus">0</span>
      </div>
      <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-12">
  <div class="info-box">
      <span class="info-box-icon bg-warning"><i class="fa fa-award" aria-hidden="true"></i></span>
      <div class="info-box-content">
          <span class="info-box-text">VIP Monthly Reward </span>
          <span class="info-box-number totalMember" id="vipMonthReward">0</span>
      </div>
      <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>



              </div>
          </div>
      </div>
      </section>
        
    </div>
  </div>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="/js/admin/admin.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="https://sdk.minepi.com/pi-sdk.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
  $(document).ready(function () {
  });
  const Pi = window.Pi;
  Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
  async function auth() {
    try {
        
        const scopes = ['username', 'payments', 'wallet_address'];
        function onIncompletePaymentFound(payment) {
            console.log("incomplete Transaction");
        }; 
  
        Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
            var username = auth.user.username;
            var password = auth.user.uid;
            var auth_token = auth.accessToken;
            function refresh_All_prameters()
            {
              $.ajax({
                type: "POST",
                url: "/admin/manager/getdashboardInfo",
                data: {
                },
                dataType: "json",
                success: function (response) {
                  $("#usersJoin").text(response.data.a_usersJoin);
                  $("#TodaysRecharge").text(response.data.a_TodaysRecharge);
                  $("#TodaysWithdrawal").text(response.data.a_TodaysWithdrawal);
                  $("#UserBalance").text(response.data.a_UserBalance);
                  $("#TotalUsers").text(response.data.a_TotalUsers);
                  $("#PendingRecharge").text(response.data.a_PendingRecharge);
                  $("#SuccessRecharge").text(response.data.a_SuccessRecharge);
                  $("#TotalRecharge_No").text(response.data.a_TotalRecharge_No);
                  $("#TotalRechargeMonth").text(response.data.a_TotalRechargeMonth);
                  $("#TotalWithdrawal").html(response.data.a_TotalWithdrawal);
                  $("#TotalWithdrawal_No").html(response.data.a_TotalWithdrawal_No);
                  $("#TotalWithdrawal_AMT").html(response.data.a_TotalWithdrawal_AMT);
                  $("#WithdrawalRequests").text(response.data.a_WithdrawalRequests);
                  $("#TodaysTotalBets").text(response.data.a_TodaysTotalBets);
                  $("#TodaysTotalWin").text(response.data.a_TodaysTotalWin);
                  $("#TodaysProfit").text(response.data.a_TodaysProfit);
                  $("#TodaysProfit_EXP").text(response.data.a_TodaysProfit_EXP);
                  $("#month_colloborator").text(response.data.a_month_colloborator);
                  $("#month_turnover").text(response.data.a_month_turnover);
                  $("#month_gift_redeem").text(response.data.a_month_gift_redeem);
                  $("#month_recharge_bonus").text(response.data.a_month_recharge_bonus);
                  $("#month_staking_amt").text(response.data.a_month_staking_amt);
                  $("#month_staking_rewards").text(response.data.a_month_staking_rewards);
                  $("#active_stakes").text(response.data.a_active_stakes);
                  $("#roi_active_stakes").text(response.data.a_roi_active_stakes);
                  $("#vipLevelBonus").text(response.data.a_vipLevelBonus);
                  $("#vipMonthReward").text(response.data.a_vipMonthReward);
                }
              });  
            }
        
            refresh_All_prameters();
        
            
    $('.reload_money').click(function (e) {
        e.preventDefault();
        $(this).addClass('rotating block-click');
        refresh_All_prameters();
        setTimeout(() => {
          $(this).removeClass('rotating block-click');
      }, 5000);
    });
          });
        }
          catch (err) {
              alert(err);
          }
          }
          auth();
</script>

</body>

</html>