<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Setting</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .form-group {
            margin-top: 20px; 
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px #2ecc71;
        }
        
        .form-group button {
            margin-top: 30px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include('nav') %>
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Setting</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="padding: 10px 20px;margin-bottom: 200px;">
                                <div class="form-group">
                                <!-- <div class="text-center">
                                     <label for="quantity">Change Deposit Information</label>
                                 </div>
                                 <label for="quantity" style="color: #3498db;">BANKING</label>
                                 <input type="text" class="form-control" placeholder="Rate"
                                     id="edit-banking-name_bank" value=""><br>
                                 <input type="text" class="form-control" placeholder="Enter Account Name"
                                     id="edit-banking-name" value=""><br>
                                 <input type="text" class="form-control" placeholder="Enter Account Number"
                                     id="edit-banking-info" value=""><br>
                                 <button type="submit" class="btn btn-primary edit-banking"
                                     style="width: 100%;margin-bottom: 20px;">Submit</button>  -->
                                 <!---------------------------------------------------------------->
                                 <div class="text-center">
                                     <label for="quantity">Manual Settings</label>
                                 </div>

                                 <label for="edit-momo-name_bank" style="color: #3498db;">Rate</label>
                                 <input type="text" class="form-control" placeholder="Rate"
                                     id="edit-momo-name_bank" value=""><br>
                                 <input type="text" class="form-control" placeholder="Wallet Owner Name"
                                     id="edit-momo-name" value=""><br>
                                 <input type="text" class="form-control" placeholder="UPI ID" id="edit-momo-info"
                                     value="" required><br>
                                 <input type="text" class="form-control" placeholder="USDT Wallet Address"
                                     id="edit-momo-qr" value=""><br>
                                <label for="qr_code" style="color: #3498db;">Upload Qr Code</label>
                                <input type='file' name='fileUploaded' id="qr_code_scanner" accept="image/*" required>
                                <label id="qr_code_image" name="qr_code_image" style="color: green;" ></label>
                                 <button type="submit" class="btn btn-primary edit-momo"
                                     style="width: 100%;">Submit</button>
                             </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <label for="telegram">Telegram (Set up for members to use to contact you)</label>
                                    </div>
                                    <label for="telegram" style="color: #3498db;">Link Telegram</label>
                                    <input type="text" id="telegram_url" class="form-control" id="telegram" placeholder="Enter Telegram Link" value=""><br>

                                    <label for="whatsapp" style="color: #3498db;">WhatsApp</label>
                                    <input type="text" class="form-control" id="whatsapp_url"
                                            placeholder="Enter WhatsApp Link" value=""><br>
                                    <button type="submit" class="btn btn-primary telegram" style="width: 100%;">Edit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://sdk.minepi.com/pi-sdk.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
      <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/dist/js/adminlte.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.15.10/sweetalert2.min.js"></script>
      <script src="/js/admin/admin.js"></script>
    </script>
    <script>
        const Pi = window.Pi;
        Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
        async function auth() {
          try {
              
              const scopes = ['username', 'payments', 'wallet_address'];
              function onIncompletePaymentFound(payment) {
                  console.log("incomplete Transaction");
              }; 
        
              Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
                  var username = auth.user.username;
                  var password = auth.user.uid;
                  var auth_token = auth.accessToken;
                  
        $.ajax({
            type: "POST",
            url: "/manager/settings/get",
            data: {authtoken:auth_token},
            dataType: "json",
            success: function (response) {
                let bank = response.datas[0];
                let momo = response.momo;
                $('#edit-momo-name_bank').val(momo.bank_name);
                $('#edit-momo-name').val(momo.username);
                $('#edit-momo-info').val(momo.upi_id);
                $('#edit-momo-qr').val(momo.usdt_wallet_address);

                $('#qr_code_image').text(momo.qr_code_image.toString().trim().replace(/\\/g, "/").replace("src/public",document.location.origin));

                $('#edit-banking-name_bank').val(bank.name_bank);
                $('#edit-banking-name').val(bank.name_user);
                $('#edit-banking-info').val(bank.stk);
                // $('#edit-momo-qr').val(momo.qr_code_image);
            }
        });

        const alertMessage = (text) => {
            console.log("123");
            const msg = document.createElement('div');
            msg.setAttribute('data-v-1dcba851', '');
            msg.className = 'msg';

            const msgContent = document.createElement('div');
            msgContent.setAttribute('data-v-1dcba851', '');
            msgContent.className = 'msg-content v-enter-active v-enter-to';
            msgContent.style = '';
            msgContent.textContent = text;

            msg.appendChild(msgContent);
            document.body.appendChild(msg);

            setTimeout(() => {
                msgContent.classList.remove('v-enter-active', 'v-enter-to');
                msgContent.classList.add('v-leave-active', 'v-leave-to');

                setTimeout(() => {
                    document.body.removeChild(msg);
                }, 100);
            }, 1000);
        }

        $('.edit-momo').click(async (e) => {
            try {
                e.preventDefault();
                const bank_name = $('#edit-momo-name_bank').val();
                const username = $('#edit-momo-name').val();
                const upi_id = $('#edit-momo-info').val();
                const usdt_wallet_address = $('#edit-momo-qr').val();
                const file_code = $('#qr_code_scanner')[0].files[0];
                if(upi_id.length != 0)
                {
                    if($('#qr_code_scanner')[0].files.length != 0 || $('#qr_code_image').text().length != 0)
                    {
                        var file_name_up = '';
                        var tarr = $('#qr_code_image').text().split('/');
                        if($('#qr_code_scanner')[0].files.length == 0)
                        {
                            
                            file_name_up = tarr[tarr.length-1];
                        }
                        else{
                            file_name_up = $('#qr_code_scanner')[0].files[0].name
                        }
                        let formData = new FormData();    
                        formData.append('qr_code', file_code);
                        formData.append('file_name',file_name_up);
                        formData.append("bank_name", bank_name);
                        formData.append("username", username);
                        formData.append("upi_id", upi_id);
                        formData.append("usdt_wallet_address", usdt_wallet_address);
                        formData.append("typer", "momo");
                        formData.append("authtoken", auth_token);
                        
                        fetch('/manager/collo_bank', {
                        method: 'POST', 
                        body: formData,
                        data: {
                            file_name: file_name_up,
                        }, 
                        mode: "cors",
                      }).then(res =>{ res.json().then((data)=>{
                        if (data.status === true) {
                            alert("Details Updated Successfully!");
                        }
                      });
                    });
                    }
                    else
                    {
                        alert("Atleast one file is required!");
                    }
                }
                else{
                    alert("UPi id is required!");
                }   
            } catch (error) {
                console.log(error)
            }
        });


        $.ajax({
            type: "POST",
            url: "/manager/settings/list",
            data: {
             authtoken:auth_token,   
            },
            dataType: "json",
            success: function (response) {
                $('#telegram_url').val(response.telegram2);
                $('#whatsapp_url').val(response.whatsapp);
            }
        });
        $('.telegram').click(function (e) { 
            e.preventDefault();
            let value = $('#telegram_url').val().trim();
            let whatsapp = $('#whatsapp_url').val().trim();
            if (value) {
                $.ajax({
                    type: "POST",
                    url: "/manager/settings/list",
                    data: {
                        type: 'edit',
                        value: value,
                        whatsapp: whatsapp,
                        authtoken:auth_token,
                    },
                    dataType: "json",
                    success: function (response) {
                        alert(response.message);
                    }
                });
            } else {
                alert("Please enter full information");
            }
        });

                });
            }
        catch (err) {
            alert(err);
        }
        }
        auth();

    </script>
</body>

</html>