<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Tiranga</title>
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        .van-icon-arrow-down
        {
            color: white;
        }
        .mian-from[data-v-a0753f48]
        {
            margin-top: 0.8rem;
        }

        .dropdown
        {
            width: 20%;
            display: flex;
            float: left;
            margin-top: 4%;
        }
        .img_load
        {
            width: 25px;
            height: 25px;
            line-height: 25px;
            top: 11px;
            margin-top: 20%;        
        }
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        .disable_pointer
        {
            pointer-events: none;
        }
        .dropdown__list
        {
            display: none;
        }
        .show_hide
        {
            display: block;
            opacity: 1;
            background: #323a7c;
            position: absolute;
            z-index: 1;
            padding: 0;
            width: 200px;
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-top: 10%;
        }
        .dropdown__list::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          .dropdown__list::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
           
          /* Handle */
          .dropdown__list::-webkit-scrollbar-thumb {
            background: #22275b; 
          }
          
          /* Handle on hover */
          .dropdown__list::-webkit-scrollbar-thumb:hover {
            background: #22275b; 
          }
        .dropdown__list-item[data-v-6f85c91a] {
            padding-left: 15px;
            cursor: pointer;
            width: 300px;
            text-align: left;
            color: white;
            height: 30px;
            margin-top: 4%;
        }

        .dropdown__list-item span[data-v-6f85c91a] {
            display: inline-block;
            width: 25px;
            margin-right: 10px;
            
        }
        .dropdown__value span
        {
            color: white;
            margin-right: 10px;
        }
        

        .tab[data-v-a9660e98] {
            width: calc(100% - 0.69333rem);
            height: 0.96rem;
            line-height: .96rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin: 0.32rem auto 0;
        }
        .tab .li[data-v-a9660e98] {
            width: 35%;
            margin:2%;
        }
        
        .tab .li .txt.action[data-v-a9660e98] {
    background: linear-gradient(rgb(5 7 26), rgb(4 8 37)) !important;
}
.tab .li .txt.action[data-v-a9660e98] {
    background: -webkit-linear-gradient(rgb(250, 229, 159), rgb(196, 147, 63));
    background: linear-gradient(rgb(250, 229, 159), rgb(196, 147, 63));
    font-weight: 600;
    color: #ffffff;
}
.tab .li .txt[data-v-a9660e98] {
    display: block;
    height: 1.06667rem;
    line-height: 1.06667rem;
    text-align: center;
    width: 100%;
    font-size: 15px;
    border-radius: 0.21333rem;
    overflow: hidden;
    background: #1e234d;
    color: #a6a9ae;
}

        .mian .wallet-box .box .balance[data-v-7b283485] {
        background: linear-gradient(180deg, #22275b 0%, #22275b 100%) !important;
    box-shadow: 0 0rem 0.5rem #ffffff00 !important;
    }


    .mian .wallet-user[data-v-7b283485] {
    background: linear-gradient(180deg, #22275b 0%, #22275b 100%) !important
}

        .van-row {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.navbar[data-v-106b99c8] {
    background: linear-gradient(90deg, #2b3270 0%, #2b3270 100%) !important;
}


.c-tc {
    text-align: center;
    color: #0a1846;
}

    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7b283485="" class="mian">
            <div data-v-106b99c8="" data-v-7b283485="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Fund Transfer </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-7b283485="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-7b283485="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-7b283485="" class="wallet">
                <div data-v-7b283485="" class="wallet-user c-tc">
                    <div data-v-7b283485="" class="c-row c-row-center img">
                        <div data-v-7b283485="" class="van-image" border-radius="60px"
                            style="width: 60px; height: 60px;">
                            <img src="" class="van-image__img" id="prof_image">
                        </div>
                    </div>
                    <div data-v-7b283485="" class="name"></div>
                </div>
                <div data-v-7b283485="" class="wallet-box">
                    <div data-v-7b283485="" class="box">
                        <div data-v-7b283485="" class="icon1"></div>
                        <div data-v-7b283485="" class="title">Fund Transfer</div>
                        <div data-v-7b283485="" class="balance m-t-10">
                            <div data-v-7b283485="" class="txt c-row c-row-middle">
                                <img data-v-7b283485="" width="22px" height="18px" src="/images/king (2).png"
                                    class="m-r-5 img"> My balance：
                            </div>
                            <div data-v-7b283485="" class="c-row balanceMoney c-row-middle-center">
                                <div data-v-7b283485="" class="money">
                                    <!---->
                                    <div data-v-7b283485="">₹<span data-v-7b283485="" class="p-l-10">Loading...</span>
                                    </div>
                                </div>
                                <div data-v-7b283485="" id="reload">
                                    <div data-v-7b283485="" class="van-image img m-l-15"
                                        style="width: 25px; height: 25px;">
                                        <img src="/images/reload.png" class="van-image__img">
                                    </div>
                                </div>
                            </div>
                            <div data-v-7b283485="" class="info c-row">
                                <div data-v-7b283485="" class="item">
                                    <div data-v-7b283485="">Total Recharge</div>
                                    <!---->
                                    <div data-v-7b283485="">₹ 0.00</div>
                                </div>
                                <div data-v-7b283485="" class="item">
                                    <div data-v-7b283485="">Total Withdrawal</div>
                                    <!---->
                                    <div data-v-7b283485="">₹ 0.00</div>
                                </div>
                            </div>
                        </div>
                        <div data-v-a9660e98="" class="tab c-row c-row-between">
                            <div data-v-a9660e98="" class="li c-row c-row-center">
                                <span data-v-a9660e98="" class="txt action">
                                    Username
                                </span>
                            </div>
                            <div data-v-a9660e98="" class="li c-row c-row-center">
                                <span data-v-a9660e98="" class="txt"> Phone </span>
                            </div>
                            <div data-v-a9660e98="" class="li c-row c-row-center">
                                <span data-v-a9660e98="" class="txt "> User-id </span>
                            </div>
                            
                        </div>
                        <div data-v-a9660e98="" class="con-box">
                            <div data-v-a0753f48="" class="mian-from">
                                <div data-v-a0753f48="" class="lab">
                                    <span data-v-a0753f48=""> </span>
                                </div>
                                <div data-v-a0753f48="" class="item c-row c-row-center first">
                                    <div data-v-a0753f48="" class="c-row number">
                                        <span data-v-a0753f48="" class="c-row c-row-middle-center">
                                            <img data-v-57d49070="" class="img_load passwordInput__container-label__icon" data-origin="https://www.bigdaddygame2.com/assets/png/password-b827c2b3.png" src="/images/invitation-5285cf0f.png">
                                        </span>
                                    
                                    </div>
                                    <input data-v-a0753f48="" maxlength="16" type="text" id="input_username" placeholder="Username"
                                        style="background: #323a7c; outline: none">
                                    <!-- oninput="value=value.replace(/\D/g,'')" -->
                                </div>
                                <div data-v-a0753f48="" class="item c-row c-row-center">
                                    <span data-v-a0753f48="" class="img c-row c-row-middle-center">
                                        <img data-v-a0753f48="" src="/images/wallet2.png" class="" width="20" height="20" />
                                    </span>
                                    <input data-v-d8986e5e="" data-v-a0753f48="" id="input_u_n_amount" placeholder="Enter Amount"
                                        style="background: #323a7c; outline: none">
                                </div>
    
    
                                <div data-v-a0753f48="" class="mian-btn">
                                    <button data-v-a0753f48="" id="btn_username"
                                        class="gradient van-button van-button--default van-button--normal van-button--block van-button--round">
                                        <div data-v-a0753f48="" class="van-button__content">
                                            <span data-v-a0753f48="" class="van-button__text">
                                                <span data-v-a0753f48="">Send Money</span>
                                            </span>
                                        </div>
                                    </button>
    
                                </div>
    
    
                                <div class="alert-toast"></div>
                            </div>
                        </div>
                        <div data-v-a9660e98="" class="con-box">
                            <div data-v-a0753f48="" class="mian-from">
                                <div data-v-a0753f48="" class="lab">
                                    <span data-v-a0753f48=""> </span>
                                </div>
                           
                                <div data-v-6f85c91a="" data-v-93f53084="" class="dropdown">
                                    <div data-v-6f85c91a="" class="dropdown__value" id="drop_down_val" onclick="myFunction()"><span
                                            data-v-6f85c91a="">+91</span><i data-v-6f85c91a=""
                                            class="van-badge__wrapper van-icon van-icon-arrow-down"></i></div>
                                            <div class="dropdown__list" id="myDropdown" >
                                                <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+1</span> USA</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+66</span> Thailand</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+62</span> Indonesia</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+95</span> Myanmar</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+971</span> United Arab Emirates</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+54</span> Argentina</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+880</span> Bangladesh </div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+975</span> Bhutan (འབྲུག)</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+267</span> Botswana</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+1</span> Canada</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+235</span> Chad (Tchad)</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+269</span> Comoros </div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+20</span> Egypt </div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+251</span> Ethiopia</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+33</span> France</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+995</span> Georgia </div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+233</span> Ghana</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item active"><span
                                                    data-v-6f85c91a="">+91</span> India</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+39</span> Italy</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+7</span> Kazakhstan</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+254</span> Kenya</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+231</span> Liberia</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+218</span> Libya</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+212</span> Morocco</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+977</span> Nepal</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+234</span> Nigeria</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+92</span> Pakistan</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+51</span> Peru</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+7</span> Russia</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+250</span> Rwanda</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+27</span> South Africa</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+94</span> Sri Lanka</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+249</span> Sudan</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+255</span> Tanzania</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+90</span> Turkey</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+39</span> Vatican City</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+212</span> Western Sahara</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+260</span> Zambia</div>
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                    data-v-6f85c91a="">+263</span> Zimbabwe</div>
                                              </div>
                                              </div>
                                          <div data-v-a0753f48="" class="item c-row c-row-center first">
                                            <input data-v-a0753f48="" maxlength="16" type="text" id="input_phone" placeholder="Phone Number"
                                                style="background: #323a7c; outline: none">
                                            <!-- oninput="value=value.replace(/\D/g,'')" -->
                                        </div>
                                        <div data-v-a0753f48="" class="item c-row c-row-center">
                                            <span data-v-a0753f48="" class="img c-row c-row-middle-center">
                                                <img data-v-a0753f48="" src="/images/wallet2.png" class="" width="20" height="20" />
                                            </span>
                                            <input data-v-d8986e5e="" data-v-a0753f48="" id="input_p_amount"  placeholder="Enter Amount"
                                                style="background: #323a7c; outline: none">
                                        </div>
            
            
                                        <div data-v-a0753f48="" class="mian-btn">
                                            <button data-v-a0753f48="" id="btn_phone"
                                                class="gradient van-button van-button--default van-button--normal van-button--block van-button--round">
                                                <div data-v-a0753f48="" class="van-button__content">
                                                    <span data-v-a0753f48="" class="van-button__text">
                                                        <span data-v-a0753f48="">Send Money</span>
                                                    </span>
                                                </div>
                                            </button>
            
                                        </div>
            
            
                                        <div class="alert-toast"></div>
                                        </div>
                        </div>
                        <div data-v-a9660e98="" class="con-box">
                            <div data-v-a0753f48="" class="mian-from">
                                <div data-v-a0753f48="" class="lab">
                                    <span data-v-a0753f48=""> </span>
                                </div>
                                <div data-v-a0753f48="" class="item c-row c-row-center first">
                                    <div data-v-a0753f48="" class="c-row number">
                                        <span data-v-a0753f48="" class="c-row c-row-middle-center">
                                            <img data-v-57d49070="" class="img_load passwordInput__container-label__icon" data-origin="https://www.bigdaddygame2.com/assets/png/password-b827c2b3.png" src="/images/forgetpassword-bd783446.png">
                                        </span>
                                    </div>
                                    <input data-v-a0753f48="" maxlength="16" type="number" id="input_userid" placeholder="User Id"
                                        style="background: #323a7c; outline: none">
                                    <!-- oninput="value=value.replace(/\D/g,'')" -->
                                </div>
                                <div data-v-a0753f48="" class="item c-row c-row-center">
                                    <span data-v-a0753f48="" class="img c-row c-row-middle-center">
                                        <img data-v-a0753f48="" src="/images/wallet2.png" class="" width="20" height="20" />
                                    </span>
                                    <input data-v-d8986e5e="" data-v-a0753f48="" id="input_u_id_amount" placeholder="Enter Amount"
                                        style="background: #323a7c; outline: none">
                                </div>
    
    
                                <div data-v-a0753f48="" class="mian-btn">
                                    <button data-v-a0753f48="" id="btn_userid"
                                        class="gradient van-button van-button--default van-button--normal van-button--block van-button--round">
                                        <div data-v-a0753f48="" class="van-button__content">
                                            <span data-v-a0753f48="" class="van-button__text">
                                                <span data-v-a0753f48="">Send Money</span>
                                            </span>
                                        </div>
                                    </button>
    
                                </div>
    
    
                                <div class="alert-toast"></div>
                            </div>
                        </div>

                    </div>

                </div>
                <div data-v-7c8bbbf4="" class="promotion">
                    <div data-v-7c8bbbf4="" class="box">
                        <div data-v-7c8bbbf4="" class="tit c-row c-row-between">Transferred Balance</div>
                        <div data-v-7c8bbbf4="" class="table">
                            <div data-v-7c8bbbf4="" class="hd van-row">
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">Phone number</div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">Amount</div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">Status</div>
                            </div>
                            <div class="bd van-row2 lisys">
                                <!-- Transaction history data will be dynamically populated here -->
                            </div>
                        </div>
                    </div>
                    <div data-v-7c8bbbf4="" class="promotion">
                        <div data-v-7c8bbbf4="" class="box">
                            <div data-v-7c8bbbf4="" class="tit c-row c-row-between">Received Balance</div>
                            <div data-v-7c8bbbf4="" class="table">
                                <div data-v-7c8bbbf4="" class="hd van-row">
                                    <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">Phone number
                                    </div>
                                    <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">Amount</div>
                                    <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">Date</div>
                                </div>
                                <div class="bd van-row lisys-r">
                                    <!-- Transaction history data will be dynamically populated here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-3966082f="" class="box">
                    <div data-v-3966082f="" class="list m-b-20">
                        <div data-v-3966082f="" role="feed" class="van-list">
                            <div class="lisys">

                            </div>
                            <div data-v-a9660e98="" class="p-t-5 p-b-5">
                                <div data-v-a9660e98="" class="van-empty">
                                    <div class="van-empty__image">
                                        <img src="/images/empty-image-default.png" />
                                    </div>
                                    <div class="van-list__finished-text">No more Available</div>
                                    <div class="van-list__placeholder"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <%- include('../nav') -%>
                    
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="/js/client.js"></script>
        <script src="https://sdk.minepi.com/pi-sdk.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
            <script src="/js/client.js"></script>
            <script>

                function myFunction() {
                    $("#myDropdown").toggleClass("show_hide");
                  }
                  $("#myDropdown .dropdown__list-item").click( function(e) {
                    var sel_country = $(this).find('span').text();
                    $("#drop_down_val").find('span').text(sel_country);
                    $("#myDropdown").toggleClass("show_hide");
                  });
                $(".con-box").css("display", "none");
                $(".con-box:eq(0)").css("display", "block");
                var $a =    $(".tab .li").click(function (e) {
                    e.preventDefault();
            $(".con-box").css("display", "none");
            $(".li .txt").removeClass("action");
            $(this).find('.txt').addClass("action");
            $(".li").removeClass("block-click");
            $(this).addClass("block-click");
            $(".con-box:eq("+$a.index(this) +")").css("display", "block");
                });
                const Pi = window.Pi;
Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
async function auth() {
  try {
      
      const scopes = ['username', 'payments', 'wallet_address'];
      function onIncompletePaymentFound(payment) {
          console.log("incomplete Transaction");
      }; 

      Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
          var username = auth.user.username;
          var password = auth.user.uid;
          var auth_token = auth.accessToken;
          $.ajax({
            type: "POST",
            url: "/api/webapi/GetUserInfo",
            data: {
                authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
                let user = response.data;
                $('.wallet-user .name').text(user.phone_user);
                $("#prof_image").attr("src","/assets/png/"+ user.user_avatar);
                $('.money').text("₹" + user.money_user + ".00");
                $('.balance .item:eq(0) div:eq(1)').text("₹" + response.totalRecharge + ".00");
                $('.balance .item:eq(1) div:eq(1)').text("₹" + response.totalWithdraw + ".00");
            }
        });
        $("#btn_username").click(function (e) {
            e.preventDefault();
            let phone = $('#input_username').val().trim();
            let amount = $('#input_u_n_amount').val().trim();
            let status = validateForm(phone, amount, 'Please fill in the necessary part.');
            if (status) {
                $('.van-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/user_transfer",
                    data: {
                        phone: phone,
                        amount: amount,
                        authtoken:auth_token,
                    },
                    dataType: "json",
                    success: function (response) {
                        if(response.status != false)
                        {
                            if(response.transfer_mode.trim()=='instant')
                            {
                                $('.money').text("₹" + response.curr_user_m + ".00");
                            }
                            $('#input_username').val('');
                            $('#input_u_n_amount').val('');
                            alertMess(response.message);
                        }
                        $('#input_username').val('');
                        $('#input_u_n_amount').val('');
                        alertMess(response.message);
                    }
                });
				}
        });
        $("#btn_phone").click(function (e) {
            e.preventDefault();
            let country_code = $("#drop_down_val").find('span').text().trim();
            let phone = $('#input_phone').val().trim();
            let amount = $('#input_p_amount').val().trim();
            let status = validateForm(phone, amount, 'Please fill in the necessary part.');
            if (status) {
                $('.van-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/phone_transfer",
                    data: {
                        phone: phone,
                        amount: amount,
                        authtoken:auth_token,
                        c_code:country_code
                    },
                    dataType: "json",
                    success: function (response) {
                        if(response.status != false)
                        {
                            if(response.transfer_mode.trim()=='instant')
                            {
                                $('.money').text("₹" + response.curr_user_m + ".00");
                            }
                            $('#input_phone').val('');
                            $('#input_p_amount').val('');
                            alertMess(response.message);
                        }
                        $('#input_phone').val('');
                        $('#input_p_amount').val('');
                        alertMess(response.message);
                    }
                });
				}
        });
        $("#btn_userid").click(function (e) {
            e.preventDefault();
            let phone = $('#input_userid').val().trim();
            let amount = $('#input_u_id_amount').val().trim();
            let status = validateForm(phone, amount, 'Please fill in the necessary part.');
            if (status) {
                $('.van-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/user_id_transfer",
                    data: {
                        phone: phone,
                        amount: amount,
                        authtoken:auth_token,
                    },
                    dataType: "json",
                    success: function (response) {
                        if(response.status != false)
                        {
                            if(response.transfer_mode.trim()=='instant')
                            {
                                $('.money').text("₹" + response.curr_user_m + ".00");
                            }
                            $('#input_userid').val('');
                            $('#input_u_id_amount').val('');
                            alertMess(response.message);
                        }
                        $('#input_userid').val('');
                        $('#input_u_id_amount').val('');
                        alertMess(response.message);
                    }
                });
				}
        });


        $.ajax({
            type: "POST",
            url: "/api/webapi/transfer_history",
            data: {
                authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
                if (response.status === true) {
                    loadTransactionHistory(response.datas);
                }
            }
        });

        
        $.ajax({
            type: "POST",
            url: "/api/webapi/transfer_history",
            data: {
                authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
                if (response.status === true) {

                    loadTransactionReceiveHistory(response.receive);
                }

            }
        });

		        });
    }
catch (err) {
    alert(err);
}
}
auth();
                
                function alertMess(text) {
                    let length = $('.alert-toast .msg').length;
                    if (length == 0) {
                        $('.alert-toast').append(
                            `
                    <div data-v-1dcba851="" class="msg">
                        <div data-v-1dcba851="" class="msg-content" style=""> ${text} </div>
                    </div>
                    `
                        );
                        setTimeout(() => {
                            $('.msg').fadeOut();
                            setTimeout(() => {
                                $('.alert-toast .msg').remove();
                            }, 100);
                        }, 1500);
                    }
                }

                function validateForm(phone, amount, text) {
                    if (!amount || !phone) {
                        alertMess(text);
                        return false;
                    } else {
                        return true;
                    }
                }
                
                function loadTransactionHistory(datas) {
                    let html = datas.map((data) => {
                        return `
            <div data-v-7c8bbbf4="" class="bd van-row">
                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">${data.receiver_phone}</div> 
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--8">${data.amount}</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--8">${data.datetime.slice(0, 10)}</div>
            </div>
            `;
                    }).join('');

                    $('.promotion .bd.lisys').html(html);
                }

           

                function loadTransactionReceiveHistory(receive) {
                    let html = receive.map((r_data) => {
                        return `
            <div data-v-7c8bbbf4="" class="bd van-row">
                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--8">${r_data.sender_phone}</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--8">${r_data.amount}</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--8">${r_data.datetime.slice(0, 10)}</div>
            </div>
            `;
                    }).join('');

                    $('.promotion .bd.lisys-r').html(html);
                }




            </script>


</body>

</html>