<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Tiranga</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        .rule[data-v-b64fa971] {
            width: calc(100% - 0.64rem);
            border: 0.05333rem solid var(--bgDark-2, var(--borderColor-5));
            border-top: none;
            margin: auto;
            padding: 0 0.32rem 0.32rem;
            background-color: var(--darkBg, var(--bg_color_L2));
            border-radius: 0.26667rem;
        }
        .svg-icon {
            width: 1em;
            height: 1em;
            fill: var(--svgHoticon);
            vertical-align: middle;
        }
        .rule .head[data-v-b64fa971] {
            width: 100%;
            position: relative;
            height: 0.8rem;
            line-height: 0.8rem;
            color: #fff;
            font-family: Inter;
            font-size: 0.42667rem;
            font-style: normal;
            font-weight: 700;
            text-align: center;
            margin-bottom: 0.16rem;
            z-index: 2;
        }
        .rule > div[data-v-b64fa971]:not(.head) {
            color: var(--text_color_L2);
            font-size: 0.34667rem;
            line-height: 0.45333rem;
            margin-bottom: 0.4rem;
            padding-left: 0.34667rem;
            position: relative;
        }
        .rule > div[data-v-b64fa971]:not(.head):before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0.13333rem;
            height: 0.16rem;
            width: 0.16rem;
            -webkit-box-flex: 0;
            -webkit-flex: none;
            flex: none;
            border-radius: 0.02667rem;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background: var(--main-color);
        }
        
        
        #app {
            color: #ffffff;
        }

        .mian[data-v-3966082f] {
            background-color: #22275b
        }

        .mian .box[data-v-3966082f] {
            padding: .4rem
        }

        .mian .box .list[data-v-3966082f] {
            background: #2b3270;
            border-radius: .4rem;
            overflow: hidden
        }

        .mian .box .list .item[data-v-4e585e69] {
        padding: 0.26667rem 0.4rem;
        }

        .mian .box .list .item[data-v-3966082f] {
            padding: .26667rem .4rem
        }

        .mian .box .list .item .money[data-v-3966082f] {
            font-size: .4rem;
            color: #fb4e4e
        }

        .mian .box .list .item .money.action[data-v-3966082f] {
            color: #6abe57
        }

        .mian .box .list .item .number[data-v-3966082f],
        .mian .box .list .item .time[data-v-3966082f] {
            font-size: .32rem;
            color: #fff
        }

        .mian .box .list .item .number[data-v-3966082f] {
            font-size: .4rem
        }

        .mian .box .list .item .number .btn[data-v-3966082f] {
            padding: .13333rem .26667rem;
            font-size: .32rem;
            margin-left: .26667rem;
            border-radius: .13333rem;
            background-color: #ffce1f;
            color: #fff
        }

        .mian .box .list .item .state[data-v-3966082f] {
            text-align: center;
            font-weight: 600
        }

        .mian .box .list .item .txt[data-v-3966082f] {
            text-align: center
        }

        html {
            -webkit-tap-highlight-color: transparent
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif
        }

        a {
            text-decoration: none
        }

        button,
        input,
        textarea {
            color: inherit;
            font: inherit
        }

        [class*=van-]:focus,
        a:focus,
        button:focus,
        input:focus,
        textarea:focus {
            outline: 0
        }

        ol,
        ul {
            margin: 0;
            padding: 0;
            list-style: none
        }

        .navbar[data-v-106b99c8] {
    background: linear-gradient(90deg, rgb(43, 50, 112) 0%, rgb(43, 50, 112) 100%) !important;
}
.head[data-v-40b81b7f] {
   height: 1.17333rem;
   color: var(--text_color_L2);
   font-size: 0.42667rem;
   line-height: 1.17333rem;
   font-weight: 400;
   margin: 0.26667rem 0.32rem 0;
   border-radius: 0.21333rem;
   overflow: hidden;
   background: var(--light-bg_white, var(--bg_color_L2));
}

.head > button[data-v-40b81b7f] {
   border: none;
   width: 50%;
   background: white;
   color:#22275b;
}
     
.empty__container[data-v-f84b843f] {
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.head > button.active[data-v-40b81b7f] {
   background:  linear-gradient(90deg, rgb(43, 50, 112) 0%, rgb(43, 50, 112) 100%);
   color: white;
   border-radius: 0.21333rem;
}

.record-panel .item {
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}
.record-panel .line {
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
}
.record-panel .rq_am_field {
    font-size: 0.35rem;
    color: #727272;
}

.record-panel .time {
    color: #999;
    font-size: 0.35rem;
}
.record-panel
{
    margin-top: 10%;
}

    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-3966082f="" class="mian">
            <div data-v-106b99c8="" data-v-3966082f="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/attendance'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Game Rules</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>

            <div data-v-c1e312a2="" class="dailySignInRules__container-hero">
                <div data-v-c1e312a2="" class="dailySignInRules__container-hero__wrapper">
                   <div data-v-c1e312a2="" class="dailySignInRules__container-hero__wrapper-titlebox">
                      <div data-v-c1e312a2="" class="dailySignInRules__container-hero__wrapper-title">Continuous attendance
                      </div>
                      <div data-v-c1e312a2="" class="dailySignInRules__container-hero__wrapper-title">Accumulated amount
                      </div>
                      <div data-v-c1e312a2="" class="dailySignInRules__container-hero__wrapper-title">Attendance bonus</div>
                   </div>
                   <ul data-v-c1e312a2="">
                      <li data-v-c1e312a2="">
                         <div data-v-c1e312a2="">1</div>
                         <div data-v-c1e312a2="">₹200.00</div>
                         <div data-v-c1e312a2="">₹5.00</div>
                      </li>
                      <li data-v-c1e312a2="">
                         <div data-v-c1e312a2="">2</div>
                         <div data-v-c1e312a2="">₹1,000.00</div>
                         <div data-v-c1e312a2="">₹18.00</div>
                      </li>
                      <li data-v-c1e312a2="">
                         <div data-v-c1e312a2="">3</div>
                         <div data-v-c1e312a2="">₹3,000.00</div>
                         <div data-v-c1e312a2="">₹100.00</div>
                      </li>
                      <li data-v-c1e312a2="">
                         <div data-v-c1e312a2="">4</div>
                         <div data-v-c1e312a2="">₹10,000.00</div>
                         <div data-v-c1e312a2="">₹200.00</div>
                      </li>
                      <li data-v-c1e312a2="">
                         <div data-v-c1e312a2="">5</div>
                         <div data-v-c1e312a2="">₹20,000.00</div>
                         <div data-v-c1e312a2="">₹400.00</div>
                      </li>
                      <li data-v-c1e312a2="">
                         <div data-v-c1e312a2="">6</div>
                         <div data-v-c1e312a2="">₹100,000.00</div>
                         <div data-v-c1e312a2="">₹3,000.00</div>
                      </li>
                      <li data-v-c1e312a2="">
                         <div data-v-c1e312a2="">7</div>
                         <div data-v-c1e312a2="">₹200,000.00</div>
                         <div data-v-c1e312a2="">₹7,000.00</div>
                      </li>
                   </ul>
                </div>
             </div>
             <div data-v-b64fa971="" data-v-c1e312a2="" class="rule ruleHead">
                <svg data-v-b64fa971="" class="svg-icon icon-ruleHead">
                   <use xlink:href="#icon-ruleHead"></use>
                </svg>
                <div data-v-b64fa971="" class="head">Rules</div>
                <div data-v-b64fa971="">
                   <div data-v-b64fa971="">The higher the number of consecutive login days, the more rewards you get, up to
                      7 consecutive days</div>
                </div>
                <div data-v-b64fa971="">
                   <div data-v-b64fa971="">During the activity, please check once a day</div>
                </div>
                <div data-v-b64fa971="">
                   <div data-v-b64fa971="">Players with no deposit history cannot claim the bonus</div>
                </div>
                <div data-v-b64fa971="">
                   <div data-v-b64fa971="">Deposit requirements must be met from day one</div>
                </div>
                <div data-v-b64fa971="">
                   <div data-v-b64fa971="">The platform reserves the right to final interpretation of this activity</div>
                </div>
                <div data-v-b64fa971="">
                   <div data-v-b64fa971="">When you encounter problems, please contact customer service</div>
                </div>
             </div>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="/js/client.js"></script>
          <script src="https://sdk.minepi.com/pi-sdk.js"></script>
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <script src="https://momentjs.com/downloads/moment.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script>
            const Pi = window.Pi;
            Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
            async function auth() {
             try {
                 
                 const scopes = ['username', 'payments', 'wallet_address'];
                 function onIncompletePaymentFound(payment) {
                     console.log("incomplete Transaction");
                 }; 
            
                 Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
                     var username = auth.user.username;
                     var password = auth.user.uid;
                     var auth_token = auth.accessToken;

                    

                    });
                }
             catch (err) {
                alert(err);
             }
             }
             auth();
      </script>
</body>

</html>