<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Tiranga</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        #app {
            color: #ffffff;
        }

        .mian[data-v-3966082f] {
            background-color: #22275b
        }

        .mian .box[data-v-3966082f] {
            padding: .4rem
        }

        .mian .box .list[data-v-3966082f] {
            background: #2b3270;
            border-radius: .4rem;
            overflow: hidden
        }

        .mian .box .list .item[data-v-4e585e69] {
        padding: 0.26667rem 0.4rem;
        }

        .mian .box .list .item[data-v-3966082f] {
            padding: .26667rem .4rem
        }

        .mian .box .list .item .money[data-v-3966082f] {
            font-size: .4rem;
            color: #fb4e4e
        }

        .mian .box .list .item .money.action[data-v-3966082f] {
            color: #6abe57
        }

        .mian .box .list .item .number[data-v-3966082f],
        .mian .box .list .item .time[data-v-3966082f] {
            font-size: .32rem;
            color: #fff
        }

        .mian .box .list .item .number[data-v-3966082f] {
            font-size: .4rem
        }

        .mian .box .list .item .number .btn[data-v-3966082f] {
            padding: .13333rem .26667rem;
            font-size: .32rem;
            margin-left: .26667rem;
            border-radius: .13333rem;
            background-color: #ffce1f;
            color: #fff
        }

        .mian .box .list .item .state[data-v-3966082f] {
            text-align: center;
            font-weight: 600
        }

        .mian .box .list .item .txt[data-v-3966082f] {
            text-align: center
        }

        html {
            -webkit-tap-highlight-color: transparent
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif
        }

        a {
            text-decoration: none
        }

        button,
        input,
        textarea {
            color: inherit;
            font: inherit
        }

        [class*=van-]:focus,
        a:focus,
        button:focus,
        input:focus,
        textarea:focus {
            outline: 0
        }

        ol,
        ul {
            margin: 0;
            padding: 0;
            list-style: none
        }

        .navbar[data-v-106b99c8] {
    background: linear-gradient(90deg, rgb(43, 50, 112) 0%, rgb(43, 50, 112) 100%) !important;
}
.head[data-v-40b81b7f] {
   height: 1.17333rem;
   color: var(--text_color_L2);
   font-size: 0.42667rem;
   line-height: 1.17333rem;
   font-weight: 400;
   margin: 0.26667rem 0.32rem 0;
   border-radius: 0.21333rem;
   overflow: hidden;
   background: var(--light-bg_white, var(--bg_color_L2));
}

.head > button[data-v-40b81b7f] {
   border: none;
   width: 50%;
   background: white;
   color:#22275b;
}
     
.empty__container[data-v-f84b843f] {
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.head > button.active[data-v-40b81b7f] {
   background:  linear-gradient(90deg, rgb(43, 50, 112) 0%, rgb(43, 50, 112) 100%);
   color: white;
   border-radius: 0.21333rem;
}

.record-panel .item {
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}
.record-panel .line {
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
}
.record-panel .rq_am_field {
    font-size: 0.35rem;
    color: #727272;
}

.record-panel .time {
    color: #999;
    font-size: 0.35rem;
}
.record-panel
{
    margin-top: 10%;
}

    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-3966082f="" class="mian">
            <div data-v-106b99c8="" data-v-3966082f="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Receive history</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-40b81b7f="">
               <div class="van-sticky">
                  <div data-v-40b81b7f="" class="head"><button data-v-40b81b7f="" class="active"
                        id="weekly_tab_btn">weekly</button><button data-v-40b81b7f="" class=""
                        id="daily_tab_btn">daily</button></div>
               </div>
            </div>
            <div data-v-40b81b7f="" role="feed" class="van-list" aria-busy="false">
               <div data-v-40b81b7f="" class="record-panel van-clearfix"></div>
               <!----><!----><!---->
               <div class="van-list__placeholder"></div>
            </div>
            <div data-v-f84b843f="" data-v-40b81b7f="" class="empty__container">
               <svg data-v-f84b843f="" class="svg-icon icon-empty">
                  <use xlink:href="#icon-empty"></use>
               </svg>
               <p data-v-f84b843f="">No data</p>
            </div>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="/js/client.js"></script>
          <script src="https://sdk.minepi.com/pi-sdk.js"></script>
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <script src="https://momentjs.com/downloads/moment.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script>
            const Pi = window.Pi;
            Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
            async function auth() {
             try {
                 
                 const scopes = ['username', 'payments', 'wallet_address'];
                 function onIncompletePaymentFound(payment) {
                     console.log("incomplete Transaction");
                 }; 
            
                 Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
                     var username = auth.user.username;
                     var password = auth.user.uid;
                     var auth_token = auth.accessToken;

                     function formatIndianNumber(num) {
                        let formattedNum = new Intl.NumberFormat("en-IN", {
                           maximumFractionDigits: 2,
                           minimumFractionDigits: 2,
                        }).format(num)
                        return formattedNum
                     }
               
                     const initDailyRechargeRewordRecord = async () => {
                        try {
                           const response = await axios.post("/api/activity/daily_recharge_bonus/record",{authtoken:auth_token })
               
                           if (response.data.status === true) {
                              const list = response.data.data
                              const html = list
                                 .map(item => {
                                    return `
                                       <div data-v-12a80a3e="" class="item">
                                           <div data-v-12a80a3e="" class="line rq_am_field">Required Recharge Amount<span data-v-12a80a3e="" class="time">${formatIndianNumber(item.requireRechargeAmount)}</span></div>
                                           <div data-v-12a80a3e="" class="line time_field">Registration time<span data-v-12a80a3e="" class="time">${item.time}</span></div>
                                           <div data-v-12a80a3e="" class="line">Received Bonus amount<span data-v-12a80a3e="" class="amount">₹${formatIndianNumber(item.amount)}</span></div>
                                       </div>`
                                 })
                                 .join("")
               
                              $(".record-panel").html(html)
                           }
                        } catch (error) {
                           console.log(error)
                        }
                     }
               
                     $("#daily_tab_btn").click(function () {
                        $(".record-panel").html("")
                        $(this).addClass("active")
                        $("#weekly_tab_btn").removeClass("active")
                        initDailyRechargeRewordRecord()
                     })
               
                     $("#weekly_tab_btn").click(function () {
                        $(".record-panel").html("")
                        $(this).addClass("active")
                        $("#daily_tab_btn").removeClass("active")
                        initWeeklyRechargeRewordRecord()
                     })

                    });
                }
             catch (err) {
                alert(err);
             }
             }
             auth();
      </script>
</body>

</html>