<!DOCTYPE html >
<html translate="no" style="font-size: 37.52px;">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="noindex,nofollow" />
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
            <title>VIP Page</title>
            <script type="module" crossorigin="" src="/assets/js/index-5075176e.js"></script>
            <link rel="modulepreload" crossorigin="" href="/assets/js/modules-f3e235fe.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/index-c9d097ef.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/en-1883f39b.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/rus-b316e5bf.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/vi-f9fb5b82.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/id-7a3c793f.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/hd-1bccf525.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/tha-2fdd1b66.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/md-57fc0e19.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/bra-9eac85db.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/my-b486e0bd.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/bdt-36eac321.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/zh-a4ae0692.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/pak-bab3fd6e.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/ar-1bbc67a6.js" />
            <link rel="modulepreload" crossorigin="" href="/assets/js/page-activity-be6024e0.js" />
            <link rel="stylesheet" href="/assets/css/modules-8abe0886.css" />
            <link rel="stylesheet" href="/assets/css/page-activity-811038f5.css" />
            <link rel="stylesheet" href="/assets/css/index-6bcd4b6d.css" />
            <link rel="modulepreload" as="script" crossorigin="" href="/assets/js/page-vip-b8a1f5e8.js" />
            <link rel="stylesheet" href="/assets/css/page-vip-950774ab.css" />
            <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
            <style>
                .span_open_close
                {
                    display: flex;
                }
                .span_open_close img
                {
                    width: 15%  !important;
                    padding-right: 5%;
                }
            </style>
        </head>

    <body style="font-size: 12px;">
       this is body message
        
        <link rel='stylesheet' href='https://rawgit.com/OwlCarousel2/OwlCarousel2/develop/dist/assets/owl.carousel.min.css'>
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <!-- <script src="/js/client.js"></script> -->

        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/client.js"></script>
    <script src="https://sdk.minepi.com/pi-sdk.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src='https://rawgit.com/OwlCarousel2/OwlCarousel2/develop/dist/owl.carousel.min.js'></script>


    </body>
</html>
