<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Tiranga</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
      .financialServices__container-box-para
      {
         text-align: center;
      }

      #parent_div_1, #parent_div_2, #parent_div_3{
         width: 30%;
         height: 100px;
         margin-right: 10px;
         float: left;
     }
     .parent_div_main{
      margin-left: 18%;
      text-align: center;
     }
     .parent_div_main h3{
      font-weight: 500;
     }
     .parent_div_main img{
      width: 50px;
      margin-top: 14%;
      height: 50px;
     }
     .child_div_1{
         float:left;
         margin-right:5px;
     }
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        #app {
            color: #ffffff;
        }

        .mian[data-v-3966082f] {
            background-color: #22275b
        }

        .mian .box[data-v-3966082f] {
            padding: .4rem
        }

        .mian .box .list[data-v-3966082f] {
            background: #2b3270;
            border-radius: .4rem;
            overflow: hidden
        }

        .mian .box .list .item[data-v-4e585e69] {
        padding: 0.26667rem 0.4rem;
        }

        .mian .box .list .item[data-v-3966082f] {
            padding: .26667rem .4rem
        }

        .mian .box .list .item .money[data-v-3966082f] {
            font-size: .4rem;
            color: #fb4e4e
        }

        .mian .box .list .item .money.action[data-v-3966082f] {
            color: #6abe57
        }

        .mian .box .list .item .number[data-v-3966082f],
        .mian .box .list .item .time[data-v-3966082f] {
            font-size: .32rem;
            color: #fff
        }

        .mian .box .list .item .number[data-v-3966082f] {
            font-size: .4rem
        }

        .mian .box .list .item .number .btn[data-v-3966082f] {
            padding: .13333rem .26667rem;
            font-size: .32rem;
            margin-left: .26667rem;
            border-radius: .13333rem;
            background-color: #ffce1f;
            color: #fff
        }

        .mian .box .list .item .state[data-v-3966082f] {
            text-align: center;
            font-weight: 600
        }

        .mian .box .list .item .txt[data-v-3966082f] {
            text-align: center
        }

        html {
            -webkit-tap-highlight-color: transparent
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif
        }

        a {
            text-decoration: none
        }

        button,
        input,
        textarea {
            color: inherit;
            font: inherit
        }

        [class*=van-]:focus,
        a:focus,
        button:focus,
        input:focus,
        textarea:focus {
            outline: 0
        }

        ol,
        ul {
            margin: 0;
            padding: 0;
            list-style: none
        }

        .navbar[data-v-106b99c8] {
    background: linear-gradient(90deg, rgb(43, 50, 112) 0%, rgb(43, 50, 112) 100%) !important;
}
.head[data-v-40b81b7f] {
   height: 1.17333rem;
   color: var(--text_color_L2);
   font-size: 0.42667rem;
   line-height: 1.17333rem;
   font-weight: 400;
   margin: 0.26667rem 0.32rem 0;
   border-radius: 0.21333rem;
   overflow: hidden;
   background: var(--light-bg_white, var(--bg_color_L2));
   display: flex;
}

.head > button[data-v-40b81b7f] {
   border: none;
   width: 50%;
   background: white;
   color:#22275b;
}
     
.empty__container[data-v-f84b843f] {
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.head > button.active[data-v-40b81b7f] {
   background:  linear-gradient(90deg, rgb(43, 50, 112) 0%, rgb(43, 50, 112) 100%);
   color: white;
   border-radius: 0.21333rem;
}

.record-panel .item {
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}
.record-panel .line {
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
}
.record-panel .rq_am_field {
    font-size: 0.35rem;
    color: #727272;
}

.record-panel .time {
    color: #999;
    font-size: 0.35rem;
}
.record-panel
{
    margin-top: 10%;
}

.gamestats-container-banner[data-v-dc01f921] {
   height: 3.2rem;
   color: white;
   background: -webkit-linear-gradient(325deg, #374992 0%, #4674d0 100%);
   background: linear-gradient(125deg, 22275b 0%, 22275b 100%);
   box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c, inset 0 -0.05333rem 0.13333rem #fff6f4;
   border-radius: 0.26667rem;
   margin: 0.4rem 0.32rem 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: block;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.gamestats-container-banner h1[data-v-dc01f921] {
   font-size: 0.56rem;
   font-weight: 700;
   color:white;
}
.gamestats-container-banner span[data-v-dc01f921] {
   margin-top: 0.32rem;
   font-size: 0.4rem;
   color:white;
}

.gamestats-container-list-wrapper[data-v-dc01f921] {
   padding-bottom: 0.50667rem;
}
.gamestats-container-items[data-v-dc01f921] {
   background: #2b3270 ;
   box-shadow: 0 0.10667rem 0.21333rem #2b3270 ;
   border-radius: 0.13333rem;
   margin: 0.32rem;
   padding: 0 0.26667rem;
   -webkit-padding-end: 0.53333rem;
   padding-inline-end: 0.53333rem;
}
.gamestats-container-item[data-v-dc01f921] {
   padding-top: 0.36rem;
}
.gamestats-container-item[data-v-dc01f921]:last-child {
   padding-bottom: 0.36rem;
}

.gamestats-container-item h1[data-v-dc01f921] {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   padding-bottom: 0.18667rem;
}
.gamestats-container-item h1 img[data-v-dc01f921] {
   width: 0.8rem;
   -webkit-margin-end: 0.16rem;
   margin-inline-end: 0.16rem;
   -webkit-margin-start: 0.05333rem;
   margin-inline-start: 0.05333rem;
}
.gamestats-container-item h1 span[data-v-dc01f921] {
   font-size: 0.4rem;
   font-weight: 700;
   color: white;
}

.gamestats-container-item-content[data-v-dc01f921] {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   padding-bottom: 0.10667rem;
}

.gamestats-container-item-content img[data-v-dc01f921] {
   width: 0.29333rem;
   -webkit-margin-end: 0.42667rem;
   margin-inline-end: 0.42667rem;
   -webkit-margin-start: 0.29333rem;
   margin-inline-start: 0.29333rem;
}

.gamestats-container-item-content-list[data-v-dc01f921] {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex
;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   width: 100%;
}

.gamestats-container-item-content-list div[data-v-dc01f921] {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   width: 100%;
   padding-bottom: 0.25333rem;
}

.gamestats-container-item-content-list div h4[data-v-dc01f921] {
   font-size: 0.37333rem;
   color: #ff8616;
   font-weight: normal;
}
.gamestats-container-item-content-list div h5[data-v-dc01f921] {
   font-size: 0.37333rem;
   color: #49ce9b;
   font-weight: normal;
}

.gamestats-container-item-content-list div[data-v-dc01f921] {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   width: 100%;
   padding-bottom: 0.25333rem;
}
.sub_image
{
   width: 30px !important;
   height: 30px;
}
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-3966082f="" class="mian">
            <div data-v-106b99c8="" data-v-3966082f="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Receive history</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-40b81b7f="">
               <div class="van-sticky">
                  <div data-v-40b81b7f="" class="head">
                     <button data-v-40b81b7f="" class="tabgame active" data-type="1" id="todaytab_btn">Today</button>
                     <button data-v-40b81b7f="" class="tabgame" data-type="2" id="yester_tab_btn">Yesterday</button>
                     <button data-v-40b81b7f="" class="tabgame" data-type="3" id="weekly_tab_btn">Weekly</button>
                     <button data-v-40b81b7f="" class="tabgame" data-type="4" id="monthly_tab_btn">Monthly</button>
                  </div>
                  <div data-v-dc01f921="" class="gamestats-container-banner">
                     
                     <div id='parent_div_1'>
                        <div data-v-7b659096="" class="parent_div_main">
                           <img data-v-7b659096="" src="/images/recharge.png">
                           <div data-v-7b659096="" class="financialServices__container-box-para">
                               <h3 data-v-7b659096="" data-lang="gameRecords">Total Bets</h3>
                               <span data-v-7b659096="" id="mytotalbets"></span>
                           </div>
                           </div>
                        </div>
                        
                        <div id='parent_div_2'>
                           <div data-v-7b659096=""  class="parent_div_main">
                              <img data-v-7b659096="" src="/images/withdraw.png">
                              <div data-v-7b659096="" class="financialServices__container-box-para">
                                  <h3 data-v-7b659096="" data-lang="gameRecords">No. of Bets</h3>
                                  <span data-v-7b659096="" id="mynoofbets"></span>
                              </div>
                              </div>
                        </div>
                        
                        <div id='parent_div_3'>
                           <div data-v-7b659096=""  class="parent_div_main">
                              <img data-v-7b659096="" src="/images/walletIMG.png">
                              <div data-v-7b659096="" class="financialServices__container-box-para">
                                  <h3 data-v-7b659096="" data-lang="gameRecords">Win/Loss</h3>
                                  <span data-v-7b659096="" id="mywin_loss"></span>
                              </div>
                              </div>
                        </div>
                        
                  </div>

                  <div data-v-dc01f921="" class="data_wrapper gamestats-container-list-wrapper" >
                     <div data-v-dc01f921="" class="gamestats-container-items" id="bet_details">
                          
                        </div>
                  </div>
               </div>
            </div>
            <div data-v-40b81b7f="" role="feed" class="van-list" aria-busy="false">
               <div data-v-40b81b7f="" class="record-panel van-clearfix"></div>
               <!----><!----><!---->
               <div class="van-list__placeholder"></div>
            </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/client.js"></script>
        <script src="https://sdk.minepi.com/pi-sdk.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script>
            const Pi = window.Pi;
            Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
            async function auth() {
              try {
                  
                  const scopes = ['username', 'payments', 'wallet_address'];
                  function onIncompletePaymentFound(payment) {
                      console.log("incomplete Transaction");
                  }; 
            
                  Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
                      var username = auth.user.username;
                      var password = auth.user.uid;
                      var auth_token = auth.accessToken;

                      $(document).ready(function () {
                        $(".tabgame").removeClass("active");
                        $(".tabgame:eq(0)").addClass("active");
                        $.ajax({
                           type: "POST",
                           url: "/api/webapi/get/mybets",
                           data: {
                                data_type: 1,
                                authtoken:auth_token,
                            },
                           dataType: "json",
                           success: function (response) {
                            console.log(response);
                              $("#mytotalbets").text("₹" + response.total_bet);
                              $("#mynoofbets").text(response.no_of_bets);
                              $("#mywin_loss").text(response.win_loss_label + ": " + response.winning_amount + " ₹");
                              let html = '';
                              response.wingo_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 var color = "white";
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+data.sum+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;
                              });
                              response.k3_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 var color = "white";
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+data.sum+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;       
                              });
                              response.trx_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 var color = "white";
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+parseFloat(data.sum).toFixed(2)+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;
                              });
                              response.d5_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+data.sum+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;
                              });
                              $('#bet_details').html(html);
                           }
                       });
                     });
                     $(document).on("click", '.tabgame', function(e){
                        e.preventDefault();
                        $(".tabgame").removeClass("active");
                        $(this).addClass("active");
                        $('#bet_details').html("");
                        $.ajax({
                           type: "POST",
                           url: "/api/webapi/get/mybets",
                           data: {
                                data_type: $(this).attr("data-type"),
                                authtoken:auth_token,
                            },
                           dataType: "json",
                           success: function (response) {
                              $("#mytotalbets").text("₹" + response.total_bet);
                              $("#mynoofbets").text(response.no_of_bets);
                              $("#mywin_loss").text(response.win_loss_label + ": " + response.winning_amount + " ₹");
                              let html = '';
                              response.wingo_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 var color = "white";
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+data.sum+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;
                              });
                              response.k3_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 var color = "white";
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+data.sum+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;       
                              });
                              response.trx_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 var color = "white";
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+parseFloat(data.sum).toFixed(2)+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;
                              });
                              response.d5_betting.map((data) => {
                                 var win_amt = 0;
                                 if(data.win_amt != null)
                                 {
                                    win_amt = parseInt(data.win_amt);
                                 }
                                 var win_loss = parseInt(win_amt) - parseInt(data.sum) ;
                                 if(parseInt(win_loss) < 0)
                                 {
                                    color = "red";
                                 }
                                  html += `<div data-v-dc01f921="" class="gamestats-container-item">
                                          <h1 data-v-dc01f921=""><img data-v-dc01f921="" alt="" class="" data-origin="/images/2-ba1ecbb1.png" src="/images/2-ba1ecbb1.png"><span data-v-dc01f921="">lottery</span></h1>
                                          <div data-v-dc01f921="" class="gamestats-container-item-content">
                                             <img data-v-dc01f921="" alt="" class="sub_image" data-origin="/images/tu.webp" src="/images/tu.webp">
                                             <div data-v-dc01f921="" class="gamestats-container-item-content-list">
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Total bet </h4>
                                                   <h5 data-v-dc01f921="" id="total_bet">₹`+data.sum+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Number of bets</h4>
                                                   <h5 data-v-dc01f921="" id="no_of_bets">`+data.count+ `</h5>
                                                </div>
                                                <div data-v-dc01f921="">
                                                   <h4 data-v-dc01f921="">Winning amount</h4>
                                                   <span data-v-dc01f921="" id="winning_amount" style="color:`+color+`">₹`+win_loss+ `</span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>`;
                              });
                              $('#bet_details').html(html);
                           }
                       });
                     });
                  });
                }
                catch (err) {
                    alert(err);
                }
                }
                auth();
        </script>
</body>

</html>