<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Tiranga</title>
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link href="/css/home/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/home/app.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }
        #vip_lev_img
        {
            width: 1.33333rem;
            height: .58667rem;
            margin: 0 .13333rem;
            background-image: url(/assets/png/vip_img1.png);
            background-size: 1.33333rem .58667rem;
            float: right;
        }

        .mian[data-v-9f3a9836] {
            background-color: #fbfcfd
        }

        .mian .profile[data-v-9f3a9836] {
            padding: .4rem;
            font-size: .37333rem
        }

        .mian .profile .item[data-v-9f3a9836] {
            border-bottom: .02667rem solid #dadada;
            padding: 0 0 .4rem;
            margin-bottom: .53333rem
        }

        .mian .profile .item .img .userImg[data-v-9f3a9836],
        .mian .profile .item .img[data-v-9f3a9836] {
            height: 1.06667rem;
            width: 1.06667rem;
            border-radius: 1.06667rem
        }

        .mian .profile .item .lab[data-v-9f3a9836] {
            color: #000
        }

        .mian .profile .item .txt[data-v-9f3a9836] {
            color: #959595
        }

        .mian .popup-box .title[data-v-9f3a9836] {
            height: 1.6rem;
            width: 100%;
            background: url(/images/myProfilebg.298e3612.png) no-repeat 0 0;
            background-size: 100% 100%
        }

        .mian .popup-box .con[data-v-9f3a9836] {
            padding: .26667rem 0;
            border-bottom: .02667rem solid #dadada
        }

        .mian .popup-box .con .input[data-v-9f3a9836] {
            width: 100%;
            height: .93333rem;
            line-height: .93333rem;
            border: none;
            padding: 0 .4rem
        }

        .mian .popup-box .con .lab[data-v-9f3a9836] {
            padding: 0 .26667rem;
            margin-bottom: .26667rem
        }

        .mian .popup-box .food[data-v-9f3a9836] {
            height: 1.33333rem;
            line-height: 1.33333rem
        }

        .mian .popup-box .food .item[data-v-9f3a9836] {
            flex: 1;
            text-align: center;
            font-weight: 600;
            font-size: .45333rem
        }

        .mian .popup-box .food .item.sure[data-v-9f3a9836] {
            color: #6abe57
        }

        .disable_pointer
        {
            pointer-events: none;
        }
        .dropdown__list
        {
            display: none;
        }
        #drop_down_val
        {
            width: 60px;
            text-align: right;
            line-height: 40px;
        }
        #drop_down_val span
        {
            padding-right: 6px;
        }

        .show_hide
        {
            display: block;
            opacity: 1;
            background: white;
            position: relative;
            z-index: 1;
            padding: 0;
            width: 100%;
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .dropdown__list::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          .dropdown__list::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
           
          /* Handle */
          .dropdown__list::-webkit-scrollbar-thumb {
            background: #22275b; 
          }
          
          /* Handle on hover */
          .dropdown__list::-webkit-scrollbar-thumb:hover {
            background: #22275b; 
          }
        .dropdown__list-item[data-v-6f85c91a] {
            padding-left: 15px;
            cursor: pointer;
            width: 280px;
            text-align: left;
            height: 25px;
            border-bottom-color: #22275b;
        }

        .dropdown__list-item span[data-v-6f85c91a] {
            display: inline-block;
            width: 50px;
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-9f3a9836="" class="mian">
            <div data-v-106b99c8="" data-v-9f3a9836="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back">
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Profile</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-9f3a9836="" class="profile">
                <div data-v-9f3a9836="" class="item c-row c-row-between c-row-middle-center">
                    <div data-v-9f3a9836="" class="lab">Avatar</div>
                    <div data-v-9f3a9836="" class="img">
                        <img data-v-9f3a9836="" width="40px" height="40px" src="" class="userImg" id="prof_image" onclick="window.location.href='/mian/avatar'">
                    </div>
                </div>
                <div data-v-9f3a9836="" class="item c-row c-row-between">
                    <div data-v-9f3a9836="" class="lab">ID</div>
                    <div data-v-9f3a9836="" class="txt id"> </div>
                </div>
                <div data-v-9f3a9836="" class="item c-row c-row-between">
                    <div data-v-9f3a9836="" class="lab">Username</div>
                    <span class="name"> </span>
                  
                </div>
                <div data-v-9f3a9836="" class="item c-row c-row-between">
                    <div data-v-9f3a9836="" class="lab">Mobile Number</div>
                    
                    <div data-v-9f3a9836="" class="txt c-row c-row-middle-center">
                        <div data-v-9f3a9836="" class="number"> </div>
                        <i data-v-9f3a9836="" class="m-l-10 van-icon van-icon-arrow"
                            style="color: rgb(149, 149, 149); font-size: 16px;">
                            <!---->
                        </i>
                    </div>
                </div>
                <div data-v-9f3a9836="" class="item c-row c-row-between">
                    <div data-v-9f3a9836="" class="lab">VIP Level</div>
                    <div data-v-92d3d2e1="" class="vip-header-wrapper-name-vip n0" id="vip_lev_img"></div>
                </div>
            </div>
            <!---->
            <div class="van-overlay" style="z-index: 2001;display: none;"></div>
            <div data-v-9f3a9836="" class="van-popup van-popup--center"
                style="width: 80%; border-radius: 15px; max-width: 340px; z-index: 2002;display: none;">
                <div data-v-9f3a9836="" class="popup-box">
                    <div data-v-9f3a9836="" class="title"></div>
                    <div data-v-9f3a9836="" class="con">
                        <div data-v-9f3a9836="" class="lab">Change Phone Number</div>
                        <div data-v-9f3a9836="" style="display: flex;">
                            <div data-v-6f85c91a="" data-v-93f53084="" class="dropdown">
                                <div data-v-6f85c91a="" class="dropdown__value" id="drop_down_val" onclick="myFunction()"><span
                                        data-v-6f85c91a="">+91</span><i data-v-6f85c91a=""
                                        class="van-badge__wrapper van-icon van-icon-arrow-down"></i></div>
                                        <div class="dropdown__list" id="myDropdown" >
                                            <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+1</span> USA</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+66</span> Thailand</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+62</span> Indonesia</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+95</span> Myanmar</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+971</span> United Arab Emirates</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+54</span> Argentina</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+880</span> Bangladesh </div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+975</span> Bhutan (འབྲུག)</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+267</span> Botswana</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+1</span> Canada</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+235</span> Chad (Tchad)</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+269</span> Comoros </div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+20</span> Egypt </div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+251</span> Ethiopia</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+33</span> France</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+995</span> Georgia </div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+233</span> Ghana</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item active"><span
                                                data-v-6f85c91a="">+91</span> India</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+39</span> Italy</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+7</span> Kazakhstan</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+254</span> Kenya</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+231</span> Liberia</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+218</span> Libya</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+212</span> Morocco</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+977</span> Nepal</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+234</span> Nigeria</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+92</span> Pakistan</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+51</span> Peru</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+7</span> Russia</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+250</span> Rwanda</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+27</span> South Africa</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+94</span> Sri Lanka</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+249</span> Sudan</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+255</span> Tanzania</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+90</span> Turkey</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+39</span> Vatican City</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+212</span> Western Sahara</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+260</span> Zambia</div>
                                        <div data-v-6f85c91a="" class="dropdown__list-item"><span
                                                data-v-6f85c91a="">+263</span> Zimbabwe</div>
                                          </div>
                                          </div>
                                        
                            <input data-v-9f3a9836="" type="number" maxlength="16" placeholder="Phone Number" class="input">
                        </div>
                    </div>
                    <div data-v-9f3a9836="" class="food c-row c-row-middle-center">
                        <div data-v-9f3a9836="" class="item">Cancel</div>
                        <div data-v-9f3a9836="" class="item sure">Confirm</div>
                    </div>
                </div>
            </div>
            <!---->
            <div data-v-7692a079="" data-v-9f3a9836="" class="Loading c-row c-row-middle-center">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet"
                            style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                            <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)"
                                style="display: block;">
                                <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice"
                                    xlink:href="/index_files/loadingspinner.png"></image>
                            </g>
                            <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)"
                                style="display: block;">
                                <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice"
                                    xlink:href="/index_files/h5setting_202401100608011fs2.png"></image>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://sdk.minepi.com/pi-sdk.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/js/client.js"></script>
    <script>

        
        function myFunction() {
            $("#myDropdown").toggleClass("show_hide");
          }
          $("#myDropdown .dropdown__list-item").click( function(e) {
            var sel_country = $(this).find('span').text();
            $("#drop_down_val").find('span').text(sel_country);
            $("#myDropdown").toggleClass("show_hide");
          });
const Pi = window.Pi;
Pi.init({ version: "2.0", sandbox: <%=sandbox%> });
async function auth() {
  try {
      
      const scopes = ['username', 'payments', 'wallet_address'];
      function onIncompletePaymentFound(payment) {
          console.log("incomplete Transaction");
      }; 

      Pi.authenticate(scopes, onIncompletePaymentFound).then(function(auth) {
          var username = auth.user.username;
          var password = auth.user.uid;
          var auth_token = auth.accessToken;
          $.ajax({
            type: "POST",
            url: "/api/webapi/GetUserInfo",
            data: {
                authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
                $('.Loading').fadeOut(100);
            if (response.data.status === false) {
                return false;
            };
            $("#prof_image").attr("src","/assets/png/"+ response.data.user_avatar);
            $('.profile .name').text(response.data.phone_user);
            $('.profile .id').text(response.data.id_user);
            $('.profile .number').text( response.data.country_code +" "+ response.data.name_user);
            $("#drop_down_val").find('span').text(response.data.country_code);
            $("input").val(response.data.name_user);
            }
        });
          $.ajax({
            type: "POST",
            url: "/api/webapi/xpgain_value",
            data: {
                authtoken:auth_token,
            },
            dataType: "json",
            success: function (response) {
                var xp_Score = parseInt(response.xp_value);
                var vip_array = [3000,30000,200000,2000000,20000000,50000000,100000000,1000000000,5000000000];
                var img_ind = 0;
                if(xp_Score == 0)
                {
                    img_ind = 1;
                }
                else{
                    $(vip_array).each(function(index,el){
                        var xp_perc = xp_Score / el;
                        console.log(xp_perc);
                        if(xp_perc.toString().indexOf('e-') != -1) 
                        {
                            var xp_perc1 = 0;
                        }
                        else{
                            var xp_perc1 = parseInt(xp_perc * 100).toFixed(0);
                        }
                        if(parseInt(xp_perc1)>= 100 )
                        {
                            img_ind = index +1;
                        }
                    });
                }
                $("#vip_lev_img").css('background-image', 'url(/assets/png/vip_img'+img_ind+'.png)');
                }
        });
        $('.sure').click(function (e) {
            e.preventDefault();
            let name = $('input').val().trim();
            let country_code = $("#drop_down_val").find('span').text().trim();
            console.log(country_code);

            if (!name) {
                let check = $('body .msg').length;
                if (check == 0) {
                    alertMess('Please enter your name');
                }
                return;
            }
            $.ajax({
                type: "PUT",
                url: "/api/webapi/change/userInfo",
                data: {
                    name: name,
                    country_code:country_code,
                    type: 'editname',
                    authtoken:auth_token,
                },
                dataType: "json",
                success: function (response) {
                    alertMess(response.message);
                    $('.van-popup, .van-overlay').fadeOut(100);
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                }
            });
           
        });
	});
    }
catch (err) {
    alert(err);
}
}
auth();
        
        
   
    </script>
    <!---->
    <script>
        function alertMess(text) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
            }, 1000);
        }

        $('.food .item:eq(0)').click(function (e) {
            e.preventDefault();
            $('.van-popup, .van-overlay').fadeOut(100);
        });
        $('.profile .item:eq(3)').click(function (e) {
            e.preventDefault();
            $('.van-popup, .van-overlay').fadeIn(100);
        });
        
    </script>
</body>

</html>